<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<!--hi.html 파일에서 thymeleaf템플릿을 사용하겠다를 선언해줘야 thymeleaf문법을 사용할 수 있음-->
<!--xmlns:th="http://www.thymeleaf.org" html 속성에 추가해줘야됨-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hi template file</h1>
    <p th:text ="${name}">코딩온</p>
    <p th:text ="${key}">새싹</p>
<!--    th: text를 사용할 때 값이 없으면 나타나지 않음-->

    <p th:text ="${name2}"></p>
<!--    th:text는 태그를 읽지못하고 문자열로 보여줌-->
    <p th:utext = "${name2}"></p>
<!--    th:utext는 태그를 읽어줌-->
    <br />

<h6>th: value = 요소의 value값을 설정할 때 사용되는 속성// button이나 input같이 기본값을 넣고 싶을 때!</h6>
<input type="text" th:value="${name}" />
<button th:value="${name}">뿡뿡</button>

<h5>th:with = 템플릿 내에서 변수를 지정해 사용할 때 이용 </h5>
<div th:with="temp=${name}" th:text="${temp}"></div>


<h5>th:switch = switch-case문</h5>
<div th:switch="${name}">
    <p th:case="'코딩온'">헬로 코딩온 입니다.</p>
    <p th:case="'새싹'">새싹 입니다.</p>
    <p th:case="*">아무것도 아닙니다~~</p>
</div>

<h5>th:if = 조건문 (else if는 없음!!)</h5>
<p th:if="${name}=='코딩온'" th:text="${name}"></p>
<!--name으로 넘어온 값이 코딩온이라면 그 name을 보여줘라-->
<p th:unless="${name}=='코딩온'" th:text="'홍길동'"></p>
<!--else가 unless로 적어야되고 if에 적힌 조건문과 같은 조건을 걸어줘야 됨-->
<!--if else를 처리하고 싶으면 th:if와 th:unless는 동일한 조건이어야 함-->

   <h5>th:each</h5>
    <ul>
        <li th:each="item:${item1}">
            <span th:text="${item}"></span>
        </li>
    </ul>


<h2>타임리프 실습1</h2>
<div th:if="${age}<20" th:text="${age}+'세는 미성년자 입니다.'" style="color: blue;"></div>
<div th:unless="${age}<20" th:text="${age}+'세는 성인입니다.'" style="color: red;"></div>

<div th:if="${age2}<20" th:text="${age}+'세는 미성년자 입니다.'" style="color: blue;" ></div>
<div th:unless="${age2}<20" th:text="${age2}+'세는 성인입니다.'" style="color: red;"></div>


</body>
</html>