<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API - 동적폼전송 실습</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- axios 라이브러리 추가 -->
</head>
<body>
<!--<p th:text="'내 이름은 ' + ${name}">.</p>-->

<form action="/axios/vo" method="post" id="form1" style="margin-right: 20px;">
    이름 <input type="text" name="name" />
    성별
    <select name="gender">
        <option value="남자">남자</option>
        <option value="여자">여자</option>
    </select>
    생년월일
    <select name="year">
        <option th:each="year : ${#numbers.sequence(1990, 2024)}" th:value="${year}" th:text="${year}+'년'"></option>
    </select>
    <select name="month">
        <option th:each="month : ${#numbers.sequence(1, 12)}" th:value="${month}" th:text="${month}+'월'"></option>
    </select>
    <select name="day">
        <option th:each="day : ${#numbers.sequence(1, 31)}" th:value="${day}" th:text="${day}+'일'"></option>
    </select>

    관심사
    <input type="checkbox" name="interest" value="여행">여행
    <input type="checkbox" name="interest" value="패션">패션
    <input type="checkbox" name="interest" value="음식">음식

    <button type="button" onclick="axiosvo()">회원가입</button>
</form>

<script>
    function axiosvo(){
        var form = document.getElementById('form1');
        axios.post(`/axios/vo`, {name: form.name.value})
        .then((res)=>{
            console.log(res);
            console.log('axiosvo : ',res.data);
        });
    }
</script>
</body>
</html>
